<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="API TestSuite" thread-count="2" parallel="true">
    <listeners>
        <listener class-name="utils.ExtentReporter"></listener>
    </listeners>
    <test name="Products Tests">
        <classes>
            <class name="testcases.ProductTests"></class>
        </classes>
    </test>
    <test name="Users Tests">
        <classes>
            <class name="testcases.UsersTests"></class>
        </classes>
    </test>
    <test name="Carts Tests">
        <classes>
            <class name="testcases.CartTests"></class>
        </classes>
    </test>
    <test name="Auth Tests">
        <classes>
            <class name="testcases.LoginTests"></class>
        </classes>
    </test>
</suite>